@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*{
	line-height: 150%;
}
#logoimg{
	height:500px;
	display: flex;
 	margin: auto;
 	justify-content: center;
 	padding-top:100px;
    margin-bottom: 100px;
}
h1{
	font-variant-caps: small-caps;
	text-align: left;
	padding-left: 325px;
	margin-bottom:10px;
	font-size: 52px;
	    color: white;
    font-size:42px;
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    text-transform: uppercase;
    font-family: "Neucha";
}
.news-post{
	padding-top: : 5em;
	margin-left: 15em;
	margin-right: 15em;

	display: inline-block;
	box-shadow:0px 0px 3px 3px rgba(0, 0 , 0, .5);
	background-color: rgba(167, 220, 218,0.3);
	margin-bottom: 100px;
	padding: 50px 100px 50px 100px;
}
.line{
	height:2px; 
	border:none; 
	color:#000; 
	background-color:#000; 
	width:34%; 
	margin:auto 0 auto 300px;
	background: linear-gradient(90deg,rgba(0, 0,0, 0), rgba(0, 0,0, 0.75), rgba(0, 0,0, 0));
	margin-bottom: 100px;
}
p{
	font-family: "Neucha";
	font-size: 20px;
}
h2{
	font-family: "Special Elite";
}

.side{
	display: flex;
	flex-wrap: wrap;	
	justify-content: space-evenly;
	align-content: center;

}
