@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
*{
	margin: :0;
	padding: 0;	
	box-sizing: border-box;
	background-repeat: no-repeat;
  	background-size: cover;
  	background-attachment: fixed;
}
body{

}
#logoimg{
	height:500px;
	display: flex;
 	margin: auto;
 	justify-content: center;
 	padding-top:100px;
}

li {
	font-family: "Syne Mono";
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
}

#nav1{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100px;
	padding:10px 100px;
	box-sizing:border-box;
	transition: .3s;
	z-index:1
}

#nav1.black{
	background: rgba(0,0,0,0.8);
	height:100px;
	padding:10px 100px;
}

.topnav{
	font-family: "Syne Mono";
	text-decoration: none;

}

#nav1 .topnav{
	padding: 22px 20px;
	height: 80px;
	float:left;
	font-size:24px;
	transition:.3s;
}

#nav1.black .topnav{
	color:#fff;
}

#nav1 ul{
	list-style: none;
	float:right;
	margin:0;
	padding:0;
	display:flex;
}

#nav1 ul li a {
	line-height: 80px;
	color: #151515;
	padding:12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}

#nav1.black ul li a {
	color: #fff;
}

#nav1 ul li a :focus{
	outline:none;
}

footer {
	font-family: "Syne Mono";
	text-transform: uppercase;
	font-size: 20px;
  	text-align: center;
  	padding: 3px;
  	background-color: Black;
  	color: white;
}

#nav2{
  list-style-type:none;
  margin: 0;
  padding: 0;
  text-align: center;
  width:100%;
}

#nav2 #list{
display: flex;
flex-wrap: wrap;
padding:300px;
padding-top: 100px;
padding-bottom:50px;

}

#nav2 #list .link{
	flex:1;
	display: inline;
  padding: 8px;
  background: #ddd;
  text-align: center;
  color: black;
  background-color:	rgb(132, 204, 252);
  text-decoration: none;
  border:1px solid #546aa7;
  text-decoration: none;
    font-size: 18px;

}

#nav2 #list .link:hover{
  background-color: #546aa7;

}
 a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
      display: block
 }

#desc{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}
.card{
	padding-top: 100px;
}

h1{
	font-family: "Patua One";
	font-size: 56px;
	font-variant-caps: small-caps;
}
p{
	font-family: "Neucha";
	font-size: 30px;
}
.description p{
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.group{
	padding-bottom:500px;
	padding-left: 200px;
}