@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
video {
  display: block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  background: rgba(0,0,0,0.8); 
}
#mainLine{
	margin-top: 20px;
	height: 5px;
	background-color: #666699;
	background-color: rgba(102,102,153,0.4);
	border-width: 0;
}

.line1 hr {
	height:3px;
	margin-top: 30px;

	border-width: 0;
	color: gray;
	background-color: #666699;
	width:50%

}
.line2 hr{
	height:3px;
	margin-top: 0px;
	margin-bottom:100px;
	border-width: 0;
	color: gray;
	background-color: #666699;
	width:50%
}

#trailer{
	font-size: 36px;
	font-family: "Shadows Into Light"; 
	font-variant-caps: small-caps;
	font-weight: bold; 
	padding-top:50px;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
 	margin: auto;
 	justify-content: center;
}
.image-container h1{
	position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);

}
.title {
	color:rgba(0, 0, 0, 0.5);
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}
.news{
	color:rgba(0, 0, 0, 0.5);
}

.centre{
	font-variant-caps: small-caps;
	font-weight: bold; 
	padding-top:50px;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
 	margin: auto;
 	justify-content: center;
}

  h1 {
    margin: 0;
    padding-bottom: 6rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: "Patua One", sans-serif;
    font-size: 10rem;
    font-variant-caps: small-caps;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
  }
}
